/* ---------- Base Setup ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(ellipse at bottom right, #30065e, #041743);
    color: #EDEDED;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

/* ---------- Navbar ---------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem;
    background: rgba(2, 7, 61, 0.279);
    backdrop-filter: blur(12px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    animation: fadeDown 1s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
    margin-right: 10px;
    filter: drop-shadow(0 0 4px rgba(111, 0, 255, 0.5));
}

.site-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #5b02c7;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #CFCFFF;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #9B5DE5, #00BBF9);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.login-btn {
    background: linear-gradient(135deg, #9B5DE5, #00BBF9);
    color: #fff !important;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 187, 249, 0.4);
    transition: all 0.3s ease;
}

.login-btn:hover {

    background: linear-gradient(135deg, #F15BB5, #9B5DE5);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #9B5DE5;
    background-color: transparent;
    border: none;
}


/* ---------- Hero Section ---------- */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 100px;
    animation: fadeIn 1.5s ease-in;

}

.personality-card {
    backdrop-filter: blur(15px);
    width: 600px;
    height: 350px;
    border: #00BBF9 2px solid;
    border-radius: 20px;
    padding: 20px;
    justify-self: center;
    align-self: center;
    animation: fadeIn 1.5s ease-in;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #e51106, #eb05c8);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.personality-card h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #9B5DE5, #00BBF9);
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

.hero-content p,
.personality-card p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: #A6A6B6;
}

.test-btn {
    background: linear-gradient(to right, #00BBF9, #9B5DE5);
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(155, 93, 229, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.test-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(155, 93, 229, 0.5);
}

/* ---------- Sections ---------- */
section {
    padding: 5rem 2rem;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #9B5DE5;
    position: relative;
}

section h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 60px;
    background: #00BBF9;
    margin: 10px auto 0;
    border-radius: 2px;
}

section p {
    max-width: 700px;
    margin: auto;
    font-size: 1.1rem;
    color: #CFCFFF;
}


@keyframes slideIn {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.flash-cards {
    display: flex;
    margin: 500px 0;
    justify-content: space-around;
    gap: 2rem;
}

.flash-cards-opp {
    display: flex;
    margin: 500px 0;
    justify-content: space-around;
    gap: 2rem;

}

.personality-types {
    background: linear-gradient(to right, #00BBF9, #9B5DE5);
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 8px 20px rgba(155, 93, 229, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.personality-types:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(155, 93, 229, 0.5);
}

.video-container {
    position: fixed;
    height: 100vh;
    /* Full viewport height */
    z-index: -1;
    /* Prevent scroll bars */
    left: 50%;
}


#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    /* Send video behind content */
    transform: translate(-50%, -50%);
    /* Centering */
}



.home-img {
    width: 520px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


/* ---------- Side Menu ---------- */
.side-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    background: linear-gradient(145deg, #1E2430, #0B0F1A);
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    z-index: 1001;
    flex-direction: column;
    transition: right 0.4s ease;
}

.menu-header {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #9B5DE5;
}

.menu-links {
    list-style: none;
    padding: 1rem 0;
}

.menu-links li {
    margin: 1rem 0;
}

.menu-links a {
    color: #EDEDED;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1rem;
}

/* ---------- Responsive ---------- */
@media (max-width: 1040px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .side-menu {
        display: flex;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    section {
        padding: 3rem 1rem;
    }

    .flash-cards {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }
    .flash-cards-opp {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .personality-card {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .home-img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}